*.c     diff=cpp
*.c++   diff=cpp
*.cc    diff=cpp
*.cpp   diff=cpp
*.h     diff=cpp
*.h++   diff=cpp
*.hh    diff=cpp
*.hpp   diff=cpp
*.css   diff=css
*.ex    diff=elixir
*.exs   diff=elixir
*.go    diff=golang
*.html  diff=html
*.xhtml diff=html
*.el    diff=lisp
*.lisp  diff=lisp
*.md    diff=markdown
*.pl    diff=perl
*.php   diff=php
*.py    diff=python
*.rake  diff=ruby
*.rb    diff=ruby
*.rs    diff=rust
