[user]
	name = Tom Kirchner
	email = git@halffull.org
[github]
	user = tjkirch
[core]
   excludesfile = ~/.gitignore
	autocrlf = input
	editor = vim
	pager = less --tabs=4 -RX
[alias]
   graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
   glog = log --graph --abbrev-commit --decorate --branches --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %C(cyan)%ce%Creset %C(green)(%cr)%Creset' --date=relative --color
	unstage = reset HEAD --
	lc = log ORIG_HEAD.. --stat --no-merges
   l = "!source ~/.githelpers && pretty_git_log"
   la = !git l --all
   r = !git l -30
   ra = !git r --all
   news = log -p HEAD@{1}..HEAD@{0}
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
[merge]
	tool = vimdiff
[color]
	ui = auto
[push]
	default = simple
[diff]
	algorithm = patience
   #colorMoved = dimmed_zebra
[difftool]
	prompt = false
