vim/.vim/.VimballRecord
vim/.vim/.netrwhist
vim/.vim/backup/%*
vim/.vim/backup/*.sw*
vim/.vim/backup/*.bak
vim/.vim/plugged/
vim/.vim/undo/
vim/.vim/swap/
zsh/.oh-my-zsh/custom/keys.zsh
zsh/.oh-my-zsh/custom/web.zsh
zsh/.oh-my-zsh/custom/keys.zsh
zsh/.zim/custom/keys.zsh
zsh/.zim/custom/web.zsh
zsh/.zim/custom/keys.zsh
