.vim/.VimballRecord
.oh-my-zsh/custom/web.zsh
.oh-my-zsh/custom/keys.zsh
.vim/.netrwhist
.vim/backup/%*
.vim/backup/*.sw*
.vim/backup/*.bak
.vim/plugged/
.vim/undo/
.vim/swap/
.oh-my-zsh/custom/keys.zsh
