fonts/.local/share/fonts/other/
helix/.config/helix/runtime/
neovim/.config/nvim/.netrwhist
vim/.vim/.VimballRecord
vim/.vim/.netrwhist
vim/.vim/autoload/plug.vim.old
vim/.vim/backup/%*
vim/.vim/backup/*.bak
vim/.vim/backup/*.sw*
vim/.vim/plugged/
vim/.vim/swap/
vim/.vim/undo/
zsh/.oh-my-zsh/custom/keys.zsh
zsh/.oh-my-zsh/custom/keys.zsh
zsh/.oh-my-zsh/custom/web.zsh
zsh/.zim/custom/keys.zsh
zsh/.zim/custom/keys.zsh
zsh/.zim/custom/web.zsh
